{% extends 'base.html' %}


{% block title %} Home {% endblock %}


{% block body %}
<!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>  -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
   
        <div class="head">
            <div class="row d-flex justify-content-center">
                <div class="col-xs-3">
                    <img class="img-responsive" src="/static/book_login.jpeg" alt="Book Logo">
                </div>
                <div class="col-xs-7">
                    <h1>The Reading Circle</h1>
                    <p>Experience the joy of reading with The Reading Circle - where every book is a new adventure!</p>
                </div>
            </div>
        </div>
    <style>
      .head {
          background-color: black;
          color: white;
      }
  </style>
        <!---->
<h1 style="font-family: Times;">
    Hi {{session.username}} {{session.id}} , </br></br> Welcome to the Reading circle page!

</h1></br></br></br>
{% if session %}
<a href="{{ url_for('logout') }}" class="btn">Logout</a>
<button class="btn btn-success"><a class="bottom" href="{{url_for('show')}}">Show all Books</a></button>
<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#insert_modal">Add Book</button>
{% endif %}

    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <table class="table table-success table-striped table-hover" border="1">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <!-- <th>Image link</th> -->
                     <th colspan="1">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}

                     {% if book.userid == session.id %}
                    <tr>
                        <!-- <td>{{book.id}}</td> -->
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.category}}</td>
                        <!-- <td>{{book.image_link}}</td> -->
                        <td>
                           <a href="/update/{{book.id}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modaledit{{book.id}}">Update</a>
                           <a href="/delete/{{book.id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete ?')">Delete</a>
                           <!-- <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#choose_modal">Choose Book</button> -->

                           {% if session.participation == 'yes' %}
                           <a href="/choose_book/{{book.id}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalchoose{{book.id}}">Choose book</a>
                           {% endif %}
                        </td>
                    </tr>


   <!-- update model -->
 <div id="modaledit{{book.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Update Book</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('update')}}" method="POST">


               <div class="form-group">

                  <label>Title:</label>
		           <input type="hidden"  name="id" value="{{book.id}}">
                  <input type="text" class="form-control" name="title" value="{{book.title}}" >

               </div>



                <div class="form-group">
                  <label>Author:</label>
                  <input type="text" class="form-control" name="author" value="{{book.author}}">
               </div>

                 <div class="form-group">
                  <label>Category:</label>
                  <input type="text" class="form-control" name="category" value="{{book.category}}">
               </div>

               <div class="form-group">
                  <label>Imafe Link:</label>
                  <input type="text" class="form-control" name="image_link" value="{{book.image_link}}">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary mt-4" type="submit">Update Book</button>
               </div>


            </form>


         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

         </div>


      </div>


   </div>


</div>




   <!-- choose book model -->
   <div id="modalchoose{{book.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Update Book</h4>
            </div>
            <div class="modal-body">
   
               <form action="{{url_for('choose_book')}}" method="POST">
   
   
                  <div class="form-group">
   
                     <label>Are you sure you want to choose this book?</label>
   
                    <input type="hidden"  name="bookid" value="{{book.id}}">
                    <input type="hidden"  name="title" value="{{book.title}}">
                     <input type="text" class="form-control" name="title" value="{{book.title}}" >
   
                  </div>
   
   
   
                   <!-- <div class="form-group">
                     <label>Author:</label>
                     <input type="text" class="form-control" name="author" value="{{book.author}}">
                  </div>
   
                    <div class="form-group">
                     <label>Category:</label>
                     <input type="text" class="form-control" name="category" value="{{book.category}}">
                  </div>
   
                  <div class="form-group">
                     <label>Imafe Link:</label>
                     <input type="text" class="form-control" name="image_link" value="{{book.image_link}}">
                  </div> -->
   
                  <div class="form-group">
                     <button class="btn btn-primary mt-4" type="submit">Choose Book</button>
                  </div>
   
   
               </form>
   
   
            </div>
   
   
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
   
            </div>
   
   
         </div>
   
   
      </div>
   
   
   </div>

                     {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>



           





    <!-- Modal  for inserting the book -->
 <div id="insert_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Add Book</h4>
          </div>
          <div class="modal-body">
 
             <form action="{{url_for('insert_book')}}" method="POST">
 
 
                <div class="form-group">
                   <label>Title:</label>
                   <input type="text" class="form-control" name="title" required="1">
                </div>
 
 
                 <div class="form-group">
                   <label>Author:</label>
                   <input type="text" class="form-control" name="author" required="1">
                </div>
 
                  <div class="form-group">
                   <label>Category:</label>
                   <input type="text" class="form-control" name="category" required="1">
                </div>


                <div class="form-group">
                  <label>image_link:</label>
                  <input type="text" class="form-control" name="image_link" required="1">
               </div>

                <!-- <div class="form-group">
                  <label>Please upload a PDF of the book:</label>
                  <input type="file" name="image_link" accept="application/pdf,application/vnd.ms-excel" />
               </div> -->
 
                <div class="form-group">
                   <button class="btn btn-primary mt-4" type="submit">Add Book</button>
                </div>
 
 
             </form>
 
 
          </div>
 
 
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
 
          </div>
 
       </div>
    </div>
 
 </div>

{% endblock %}
