{% extends 'base.html' %}


{% block title %} Home {% endblock %}


{% block body %}
<h3>
    Hi {{session.username}}!</br></br> Welcome to the show all books page...

</h3></br></br></br>
{% if session %}

<a href="{{ url_for('logout') }}" class="btn btn-success">Logout</a>
<a class="btn btn-success" href="{{url_for('index')}}">Go back</a>

{% endif %}


    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <table class="table table-success table-striped table-hover" border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Summary</th>
                    <th>Category</th>
                    <th>Rating</th>
                    <!-- <th>Current Owner</th> -->
                     <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                  
                   <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.summary}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.rating}}</td>
                        
                        <td>
                            <!-- <a href="/update/{{book.id}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modaledit{{book.id}}">Update</a> -->
                             <a href="/request" class="btn btn-danger" onclick="return confirm('Are you sure you to request this book?')">Request</a>
                        </td>
                    </tr>


                  
               {% endfor %}
{% endblock %}
